{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicações Lunares</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static '/images/Logo.png' %}">
        </a>
        <h1> Indicações Lunares </h1>
    </header>
    {% block content %}{% endblock %}
</body>
</html>